body{
  color: #EFDAB9;
  background-color: #343233;
  font-family: 'Spectral SC', serif;
  font-weight: bold;
}

header{
    text-decoration: none;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #EFDAB9;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    overflow: hidden;
}

a, a:hover, a:visited, a:active{
	color:#DDA131;
	text-decoration:none;

}

h3{
    font-size: 50px;
    color: #EFDAB9;
    text-align: center;
    padding-bottom: 42px;
}

section{
  padding-top: 200px;

}

p{
  font-size: 20px;
}

#titrejaune{
  color: #DDA131;
}

#bienvenue{
  font-size: 30px
  padding-top: 100px;
}

ul{
  margin: 0;
  padding: 0;
  display: flex;
  top: 50%;
  left: 50%;
  transition: translate(-50%,-50%);

}

ul li{
  list-style: none;
  margin: 0 15px;

}

ul li a{
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 60px;
  background: #333;
  border-radius: 50%;
  font-size: 100px;
  color: #666;
  transition: .5s;

}

ul li a:before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #DDA131;
  transform: scale(.9);
  z-index: -1;

}

ul li a:hover:before{
  transform: scale(.9);
  box-shadow: 0 0 100px #DDA131;

}

ul li a:hover{
  color: #ffee10;
  box-shadow: 0 0 5px #DDA131;
  text-shadow: 0 0 5px #DDA131;
}

/* CONTAINER IMAGE */
.ID-Image {
    width: 30 0px;
    height: 300px;
    background: url(photoID.png) no-repeat;
    margin: 150px auto 0;
}

/* LINE FOLLOW */
#follow {
    list-style: none;
    position: relative;
    top: 140px;
    left: 140px;
    z-index: -1;
}

.running .line1,.running .line2,.running .line3,.running .line4 {
    background: #2187e7;
    width: 0px;
    height: 1px;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

.running .line1 {
    -moz-transform: rotate(17deg);
    -webkit-transform: rotate(17deg);
    -moz-animation: move  0.65s linear forwards;
    -webkit-animation: move  0.65s linear forwards;
}

.running .line2 {
    -moz-transform: rotate(140deg);
    -webkit-transform: rotate(140deg);
    -moz-animation: move1 0.75s linear forwards;
    -webkit-animation: move1  0.75s linear forwards;
}

.running .line3 {
    -moz-transform: rotate(235deg);
    -webkit-transform: rotate(235deg);
    -moz-animation: move2 0.9s linear forwards;
    -webkit-animation: move2  0.9s linear forwards;
}

.running .line4 {
    -moz-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -moz-animation: move3 0.5s linear forwards;
    -webkit-animation: move3  0.5s linear forwards;
}


/* POINTER */
.running .ball, .running .ball1, .running .ball2, .running .ball3 {
    background-color: #2187e7;
    background-image: -moz-linear-gradient(90deg, #2187e7 25%, #a0eaff);
    background-image: -webkit-linear-gradient(90deg, #2187e7 25%, #a0eaff);
    width: 7px;
    height: 7px;
    border-radius: 50px;
    position: absolute;
    z-index: 99;
    -moz-transform: scale(0);
    -moz-animation: point 0.1s linear forwards;
    -webkit-transform: scale(0);
    -webkit-animation: point 0.1s linear forwards;
}

/* SPECIAL FX*/
.running .pulse, .running .pulse1, .running .pulse2, .running .pulse3 {
    width: 12px;
    height: 12px;
    border-radius: 30px;
    border: 1px solid #00c6ff;
    box-shadow: 0 0 5px #00c6ff;
    position: absolute;
    -moz-transform: scale(0);
    -moz-animation: pulse 0.6s ease-out;
    -webkit-transform: scale(0);
    -webkit-animation: pulse 0.6s ease-out;
}


/* COORDINATE POINTS BALL + SPECIAL FX */
span {
    position: absolute;
    text-indent: -9999px;
}

.ball {
    left: 295px;
    top: -3px;
}

.ball1 {
    left: 355px;
    top: -3px;
}

.ball2 {
    left: 200px;
    top: -3px;
}

.ball3 {
    left: 365px;
    top: -3px;
}

.pulse {
    left: 293px;
    top: -5px;
}

.pulse1 {
    left: 354px;
    top: -5px;
}

.pulse2 {
    left: 198px;
    top: -5px;
}

.pulse3 {
    left: 363px;
    top: -5px;
}

#numero{
  font-size: 40px;
}

#mail{
  font-size: 25px;
}

.logo{
  padding-bottom: 50px;
}

#sommaire:hover{
  color: #ffee10;
  text-shadow: 0 0 5px #DDA131;
}

#sommaire{
  font-size: 35px;
}

.sommaire{
  border: 15px;
  background-color: rgba(0,0,0,0.2);
  height: 50px;
  width: 100%;
  line-height: 50px;
}
