body{
  color: #EFDAB9;
  background-color: #343233;
  font-family: 'Spectral SC', serif;
  font-weight: bold;
}

li{
  list-style-type: none;

}

header{
    text-decoration: none;
    font-size:35px;
    text-align: center;
    font-weight: bold;
    color: #EFDAB9;

}

a, a:hover, a:visited, a:active{
	color:#DDA131;
	text-decoration:none;

}

h3{
    font-size: 50px;
    color: #EFDAB9;
    text-align: center;
    padding-bottom: 42px;
}

section{
  padding-top: 200px;
}

p{
  font-size: 20px;
}

#titrejaune{
  color: #DDA131;
}

#bienvenue{
  font-size: 30px
  padding-top: 100px;
}

.parallax {
    /* The image used */
    background-image: url("img/mariage.jpg");

    /* Set a specific height */
    height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
